.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.65);
  backdrop-filter: blur(6px);
  z-index: 1000;
}

.modal-overlay.is-hidden {
  display: none;
}

.modal {
  max-width: 750px;
  background: rgba(20, 18, 35, 0.9);
  border: 1px solid rgba(255,255,255,0.18);
  border-radius: var(--modal-border-radius);
  box-shadow: 0 18px 60px rgba(0,0,0,0.5);
  color: var(--white, #fff);
}

.modal-content {
  position: relative;
  padding-right: 240px;
  min-height: 320px;
}

.floating-cat {
  position: absolute;
  width: 240px;
  height: 240px;
  bottom: 100px;
  right: 150px;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--grey-100);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  margin-left: var(--size-plus-4);
}

@media (max-width: 1100px) {
  .floating-cat {
    position: absolute;
    bottom: 75px;
    right: 100px;
    width: 220px;
    height: 220px;
    margin-left: 0;
  }
}

@media (max-width: 900px) {
  .floating-cat {
    position: absolute;
    bottom: 75px;
    right: 50px;
    width: 200px;
    height: 200px;
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  .floating-cat {
    position: absolute;
    bottom: 75px;
    right: 25px;
    width: 180px;
    height: 180px;
    margin-left: 0;
  }
}

@media (max-width: 675px) {
  .floating-cat {
    width: 135px;
    height: 135px;
    bottom: 50px;
    right: 15px;
  }
}