:root {
  --font-base: "Montserrat", Helvetica, Arial, sans-serif;
  --font-display: "Playfair Display", serif;

  --w-regular: 400;
  --w-semibold: 600;
  --w-bold: 700;
  --w-extrabold: 800;

  --black: rgb(44, 40, 37);
  --white: rgb(255, 255, 255);

  --hover: rgba(255, 255, 255, 0.06);

  --grey-900: rgb(34, 32, 48);
  --grey-500: rgb(132, 128, 148);
  --grey-300: rgb(192, 188, 206);
  --grey-100: rgb(234, 232, 242);

  --line-color: rgb(234, 232, 242);

  --dark: rgb(35, 25, 66);
  --primary: rgb(159, 134, 192);
  --secondary: rgb(190, 149, 196);
  --tertiary: rgb(224, 177, 203);
  --gold: rgb(246, 233, 190);
  --red: rgb(224, 120, 135);
  --blue: rgb(120, 170, 220);

  --glow-primary: rgba(159, 134, 192, 0.9);
  --glow-primary-medium: rgba(159, 134, 192, 0.6);
  --glow-primary-soft: rgba(159, 134, 192, 0.3);

  --glow-tertiary: rgba(224, 177, 203, 0.9);
  --glow-tertiary-medium: rgba(224, 177, 203, 0.6);
  --glow-tertiary-soft: rgba(224, 177, 203, 0.3);

  --glow-gold: rgba(246, 233, 190, 0.9);
  --glow-gold-medium: rgba(246, 233, 190, 0.6);
  --glow-gold-soft: rgba(246, 233, 190, 0.3);
  
  --glow-red: rgba(224, 120, 135, 0.9);
  --glow-red-medium: rgba(224, 120, 135, 0.6);
  --glow-red-soft: rgba(224, 120, 135, 0.3);

  --glow-blue: rgba(120, 170, 220, 0.9);
  --glow-blue-medium: rgba(120, 170, 220, 0.6);
  --glow-blue-soft: rgba(120, 170, 220, 0.3);

  --glow-white: rgba(255, 255, 255, 0.9);
  --glow-white-medium: rgba(255, 255, 255, 0.6);
  --glow-white-soft: rgba(255, 255, 255, 0.3);

  --size-minus-5: 0.3277rem;
  --size-minus-4: 0.4096rem;
  --size-minus-3: 0.512rem;
  --size-minus-2: 0.64rem;
  --size-minus-1: 0.8rem;

  --size-0: 1rem; /* major thirds */

  --size-plus-1: 1.25rem;
  --size-plus-2: 1.563rem;
  --size-plus-3: 1.953rem;
  --size-plus-4: 2.441rem;
  --size-plus-5: 3.052rem;
  --size-plus-6: 3.815rem;

  --button-border-radius: 3px;
  --modal-border-radius: 15px;
  --button-height: 37px;
  --body-line-height: 1.5rem;

  --board-size: 360px;
  --line: 2px;
}